<h1>Members only</h1>
<% if logged_in? %>
    <h1>Welcome <%= current_user.name %></h1>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Make New Post", new_post_path %>
<% else %>
    <%= link_to "Log In", login_path %>
<% end %>
